body{
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
  --main-color-bg:white;
  --color-primary:  #FF9947;
  --color-secundary:#42ACE1;
  --text-color-primary:#494949;
  --text-color-secundary:#94979A;
  --card-border-hex:#94979A;
  --border-radius:12px;
}

@media screen and (max-width: 768px) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  margin: 0%;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  align-self: center;
  text-align: center;
  color: var(--color-primary)
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.contentInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--card-border-rgb), 0);
}

.label {
  font-size: 1rem;
  font-weight: 500;
  align-self: flex-start;
  color: var(--color-secundary);
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 2px solid var(--card-border-hex);
  color: var(--text-color-secundary);
  font-family: var(--font-mono);
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}

.input::placeholder {
  color: var(--text-color-secondary);
}

.button {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: none;
  color: white;
  font-family: var(--font-mono);
  font-size: 1rem;
  background-color: var(--color-primary);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0%;
    margin: 0%;
  }
}