body{
  display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0%;
}

:root {
  --main-color-bg:white;
  --color-primary:  #FF9947;
  --color-secundary:#42ACE1;
  --text-color-primary:#494949;
  --text-color-secundary:#94979A;
  --card-border-hex:#94979A;
  --border-radius:12px;
}

@media screen and (max-width: 768px) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  margin: 0%;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  align-self: center;
  text-align: center;
  color: var(--color-primary)
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.contentInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  border-radius: var(--border-radius);
}

.label {
  font-size: 1rem;
  font-weight: 500;
  align-self: flex-start;
  color: var(--color-secundary);
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 2px solid var(--card-border-hex);
  color: var(--text-color-secundary);
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}

.input::placeholder {
  color: var(--text-color-secundary);
}

.button {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: none;
  color: white;
  font-size: 1rem;
  background-color: var(--color-primary);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0%;
    margin: 0%;
  }
}

/*tabla */
.app {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-usuarios th,
.tabla-usuarios td {
  padding: 8px;
  text-align: left;
}
.tabla-usuarios th {
  color: var(--color-primary);
  background-color: #f8f9fa;
}

.tabla-usuarios td {
  color: var(--text-color-secundary)
}

.tabla-usuarios td button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.tabla-usuarios .editar {
  background-color: var(--color-secundary);
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
}

.tabla-usuarios .borrar {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
}

.tabla-usuarios .editar:hover,
.tabla-usuarios .borrar:hover {
  background-color:var(--color-primary);
  border-color: #0056b3;
}

/*Loader*/

@import url('//fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

#contenedor {
  background-color: #00b8de;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  color: #000;
  margin: 0%;
  position: absolute;
}

.cargando {
  position: relative;
  color: #FFF;
  margin-top: 2em;
  letter-spacing: 0.08em;
  text-transform: uppercase
}

.rueda {
  border: 10px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  border-left-color: transparent;
  width: 80px;
  height: 80px;
  animation: giro 1s linear infinite;
}

@keyframes giro {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}